<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <OMEGA_ENVIRONMENT>Production</OMEGA_ENVIRONMENT>
      <ALLOW_PRODUCTION_TESTS>true</ALLOW_PRODUCTION_TESTS>
      <!-- См. Test.runsettings: дефолтных 20 секунд не хватает на логин
           и загрузку корзины, когда сессии создаются подряд. -->
      <EXPLICIT_WAIT_SECONDS>40</EXPLICIT_WAIT_SECONDS>
    </EnvironmentVariables>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="OMEGA_ENVIRONMENT" value="Production" />
    <Parameter name="ALLOW_PRODUCTION_TESTS" value="true" />
  </TestRunParameters>
</RunSettings>
