<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <OMEGA_ENVIRONMENT>Production</OMEGA_ENVIRONMENT>
      <ALLOW_PRODUCTION_TESTS>true</ALLOW_PRODUCTION_TESTS>
      <ALLOW_PRODUCTION_MUTATIONS>false</ALLOW_PRODUCTION_MUTATIONS>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
