<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <OMEGA_ENVIRONMENT>Test</OMEGA_ENVIRONMENT>
      <!-- Сервер под нагрузкой отвечает дольше 20 секунд: логин и загрузка
           корзины упирались в дефолтное ожидание и давали ложные падения. -->
      <EXPLICIT_WAIT_SECONDS>40</EXPLICIT_WAIT_SECONDS>
    </EnvironmentVariables>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="OMEGA_ENVIRONMENT" value="Test" />
  </TestRunParameters>
</RunSettings>
